
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: black;
}
.main{
    background-image: url("Video 53/assets/images/bg.jpg");
    background-position:center center ;
    background-repeat: no-repeat;
    background-size: max(1200px,100vw);
    /* when u resize the bg will zoom in out ....rsposnsive as it will take the max of both values */


    height: 644px;
    position: relative;

}
.main .box{
    height: 644px;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;

}
nav{
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    max-width: 60vw;
    height: 100px;
}
nav svg{
    position: relative;
    z-index: 10;
    color: red;

}
nav button{
    position: relative;
    z-index: 10;
}
.hero {
    height: calc(100%-100px);
    font-family: 'Martel Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    gap: 23px;
    padding: 0 30px;
    position: relative;

    
    /* so that the blck layer doesnt bother it  */
}
.hero> :nth-child(1){
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    text-align: center;
    font-size: 48px;
    /* -webkit-text-stroke: 1px red; */
/* > for immediate child denotion  */
}
.hero> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    /* font-family: serif; */
text-align: center;
}
.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    /* font-family: serif; */
text-align: center;
}
.separation{
    height: 5px;
    background-color: grey;
    position: relative
    ;
    z-index: 20;
}
.btn {
    padding: 3px 8px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    background-color: rgba(79, 63, 63, 0.002);
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;

}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}
.main input {
    padding: 7px 101px 8px 14px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}
.btn-red-sm{
    background-color: red;
    color: aliceblue;
}
.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.first{
    margin: auto;
    display: flex;
    justify-content: center;
    max-width: 50vw;
    color: white;
    align-items: center;
}
.secImg{
    position: relative;
}
.secImg img{
    width: 555px;
    position: relative;
    z-index: 10;
}
.secImg video{
    position: absolute;
    top: 40px;
    width: 555px;
    right: 0;
}
.big{
    font-size: 34px;
    font-weight: 900;
}
.big:hover{
    color: black;
    -webkit-text-stroke: .5px white;
}
.faq{
    background-color: black;
    color: white;
}
.faq h2{
    text-align: center;
    padding: 48px;
}
.faqbox{
    display: flex;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 40vw;
    margin: 24px auto;
    justify-content: space-between;
    transition: all 1s ease-out;
}
.faqbox:hover {
    background-color: #414141;
    color: rgb(241, 22, 22);
}

.faqbox svg {
    filter: invert(1);
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 34px 0;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}


.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

@media screen and (max-width: 1300px) {

    .first {
        flex-wrap: wrap;
    }
    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }
    nav{
        max-width: 90vw;
    }
    nav .btn{
        margin: 10px 25px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }
}



@media screen and (max-width: 1300px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}
